:host {
  padding: 30px 4px 10px 4px;
}

.card {
  width: 350px;
  font-family: Exo2-Light, serif;
  font-size: 18px;
  box-shadow: 2px 7px 5px rgba(0,0,0,0.3),
  0 -4px 10px rgba(255,255,255,0.3);

}

p.font-username {
  font-weight: 530;
  color: -moz-mac-accentlightshadow;
  text-shadow: 0 1px black;
}

.card-content {
  background-color: cornflowerblue;
  color: white;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
  0 -4px 10px rgba(255,255,255,0.3);
}

.content {
  font-size: 16px;
  font-weight: 550;
}

.title {
  color: black;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
  0 -4px 10px rgba(255,255,255,0.3);
}
