<div class="card" >
<!-- ━━━━━━━━━━━━━━━ CONTAINER ━━━━━━━━━━━━━━━ -->

<!--━━| CARD IMAGE |━━-->
  <div class="card-image" >
    <figure class="image is-4by3" >
      <img
        [src]="imageUrl"
        alt=""
      >
    </figure >
  </div >
<!-- ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯ -->

<!-- ━━━━━━━━━ CARD BOTTOM CONTAINER ━━━━━━━━━ -->
  <div class="card-content">
<!-- container -->

<!--━━| NEAT TREE |━━-->
    <div class="media-content">
      <!-- title -->
      <p class="title is-4">{{ title }}</p>
      <!-- subtitle -->
      <p class="subtitle is-6 font-username">@{{ username }}</p>
    </div>
<!-- ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯ -->


<!--━━| CONTENT |━━-->
  <div class="content">
    {{ content }}
  </div >
<!-- ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯ -->

<!-- container -->
  </div >
<!-- ━━━━━━━━━ CARD BOTTOM CONTAINER ━━━━━━━━━ -->


<!-- ━━━━━━━━━━━━━━━ CONTAINER ━━━━━━━━━━━━━━━ -->
</div >

